.root-container {
  margin: 1% 5% 
}

.search {
  justify-self: right;
  top: 20px;
  position: relative
}

.searchInput {
  display:inline-block;
  background-image: url("./assets/search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 10px 1rem;
  margin-left: -23px;
  margin-top: -20px;
  /* Navy / 0 */
  background: #FFFFFF;
  /* Navy/500 */
  border: 1px solid #C0C4CC;
  border-radius: 2px;

  /* Navy/600 */
  color: #898E9A;


  /* Search for a movie */
  height: 30px;
  padding: 4px 0 4px 25px; 
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 12px;
  /* identical to box height */
  align-items: center;
  letter-spacing: -0.01em;

  /* Navy/600 */
  color: #898E9A;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto
}

.searchLogo {
  z-index: 1;
  position: relative;
  top: 3px;
  margin-left: 5px
}

hr {
  /* Line 1 */
color:  #C0C4CC;
height: 0.5px;

}
